#ifndef GESTURE_CAR_SECRETS_H
#define GESTURE_CAR_SECRETS_H

const char* WIFI_SSID = "your_wifi_name";
const char* WIFI_PASS = "your_wifi_password";
const char* MQTT_USER = "your_hivemq_username";
const char* MQTT_PASS = "your_hivemq_password";

#endif